<!DOCTYPE html>
<html>
<head>
	<title>Hearts</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="src/js/socket.io.js"></script>
	<script type="text/javascript" src="src/js/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="src/css/game.css">
	<link rel="stylesheet" href="src/css/cards.css">
</head>
<body>
	<div class="header">
		<h1>The Game of Hearts</h1>
		<h3 id="pid_text">Your name: <span class="pid">Undefined</span></h3>
		<h1 class="turn">Your Turn!</h1>
	</div>

	<div class="score">
		<ul>
			<li id="pname_0">P1</li>
			<li id="pname_1">P2</li>
			<li id="pname_2">P3</li>
			<li id="pname_3">P4</li>
		</ul>
		<ul>
			<li id="pscore_0">0</li>
			<li id="pscore_1">0</li>
			<li id="pscore_2">0</li>
			<li id="pscore_3">0</li>
		</ul>
	</div>

	<div class="entry_form">
		<h2>Enter your player name:</h2>
		<input type="text" id="pid_input"/>
		<div class="submit">
			<h2>Done</h2>
		</div>
		<h2 class="entry_form_response"></h2>
	</div>

	<div class="moon_container">
		<h2>You shot the moon!</h2>
		<div class="moon_option" id="add">
			Add +26 to everyone
		</div>

		<div class="moon_option" id="subtract">
			Take off 26 from yourself
		</div>
	</div>

	<div class="card_container"></div>

	<div class="pass_container">
		<div class="pass_header">
			<p>You are passing to</p>
		</div>
		<div class="pass_container_body">
			<div class="pass_card" id="pc1"></div>
			<div class="pass_card" id="pc2"></div>
			<div class="pass_card" id="pc3"></div>
			<div class="pass_options">
				<div class="pass_submit button_disabled">
					<p>Pass</p>
				</div>
				<div class="pass_reset button_enabled">
					<p>Reset pass</p>
				</div>
			</div>
		</div>
	</div>

	<span class="host"><%=host%></span>
	<script src="src/js/game.js"></script>
</body>
</html>
