<!DOCTYPE html>
<html>
<head>
	<title>Hearts</title>
	<script type="text/javascript" src="src/js/socket.io.js"></script>
	<script src="src/js/game.js"></script>
	<style type="text/css">
		* {
			font-family: Courier New, sans-serif;
		}
	</style>
</head>
<body>
	<h1>The Game of Hearts</h1>
	<div class="game_log"></div>
</body>
</html>