<!DOCTYPE html>
<html>
<head>
	<title>Hearts</title>
	<script type="text/javascript" src="src/js/socket.io.js"></script>
  <script type="text/javascript" src="src/js/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="src/css/game_view.css">
  <link rel="stylesheet" href="src/css/cards.css">
</head>
<body>
	<h1>The Game of Hearts</h1>
	<div class="player-info">
		<p class="pname" id="pname_0"></p>
		<p class="pscore" id="pscore_0"></p>
	</div>
	<div class="player-info">
		<p class="pname" id="pname_1"></p>
		<p class="pscore" id="pscore_1"></p>
	</div>
	<div class="player-info">
		<p class="pname" id="pname_2"></p>
		<p class="pscore" id="pscore_2"></p>
	</div>
	<div class="player-info">
		<p class="pname" id="pname_3"></p>
		<p class="pscore" id="pscore_3"></p>
	</div>

	<div class="game_log"></div>
  <div class="card_container"></div>
	<span class="server_url"><%=host%></span>
  <script src="src/js/game_view.js"></script>
</body>
</html>
