<!DOCTYPE html>
<html>
<head>
	<title>Hearts</title>
	<script type="text/javascript" src="src/js/socket.io.js"></script>
  <script type="text/javascript" src="src/js/jquery-3.3.1.min.js"></script>
	<script src="src/js/game_view.js"></script>
	<link rel="stylesheet" href="src/css/game_view.css">
</head>
<body>
	<h1>The Game of Hearts</h1>
	<div class="game_log"></div>
</body>
</html>
