<!DOCTYPE html>
<html>
<head>
	<title>Hearts</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="src/js/socket.io.js"></script>
	<script type="text/javascript" src="src/js/jquery-3.3.1.min.js"></script>
	<script src="src/js/game.js"></script>
	<style type="text/css">
		* {
			font-family: Courier New, sans-serif;
			margin: 0;
		}

		body {
			padding: 10px;
		}

		.entry_form {
			width: 50vw;
			height: auto;
			box-shadow: 0 0 5px #ccc;
			border: 1px solid #ccc;
			border-radius: 5px;
			margin: auto;
			padding: 15px;
		}

		.entry_form h2 {
			width: 100%;
			margin-top: 10%;
		}

		.entry_form input {
			width: 75%;
			margin-top: 15px;
			margin-bottom: 15px;
		  padding: 15px;
			line-height: 25px;
			font-size: 25px;
		}

		.submit {
			width: 200px;
			height: 80px;
			border: 1px solid #ccc;
			transition: all 0.2s;
		}

		.submit:hover {
			box-shadow: 0 0 5px #ccc;
			transform: translateY(-3px);
			border: 1px solid #7aadff;
		}

		.submit h2 {
			line-height: 40px;
			width: 100%;
			text-align: center;
		}



	</style>
</head>
<body>
	<h1>The Game of Hearts</h1>
	<h3>You are Player <span class="pid">Undefined</span></h3>
	<div class="game_log"></div>

	<div class="entry_form">
		<h2>Enter your player name:</h2>
		<input type="text" id="pid_input">
		<div class="submit">
			<h2>Done</h2>
		</div>
	</div>
</body>
</html>
