* {
  font-family: Courier New, sans-serif;
  margin: 0;
}

body {
  padding: 10px;
}

.entry_form {
  width: 50vw;
  height: auto;
  box-shadow: 0 0 5px #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto;
  padding: 15px;
}

.entry_form h2 {
  width: 100%;
  margin-bottom: 10%;
}

.entry_form input {
  width: 75%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  line-height: 25px;
  font-size: 25px;
}

.submit {
  width: 200px;
  height: 80px;
  border: 1px solid #ccc;
  transition: all 0.2s;
}

.submit:hover {
  box-shadow: 0 0 5px #ccc;
  transform: translateY(-3px);
  border: 1px solid #7aadff;
}

.submit h2 {
  line-height: 80px;
  width: 100%;
  text-align: center;
}

#pid_text {
  display: none;
}

.header {
  position: fixed;
  width: 50vw;
  height: auto;
  z-index: 12;
}

.header h1 {
  font-size: 1.2em;
  display: inline;
}

.header h3 {
  font-size: 1em;
  font-style: italic;
}

.turn {
  color: white;
  font-size: 4em;
  display: none;
}


.score {
  position: fixed;
  width: auto;
  height: auto;
  top: 2vh;
  right: 5vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.score ul {
  display: inline-block;
  list-style: none;
  width: auto;
  flex-grow: 1;
  margin-right: auto;
}

.score ul li {
  text-align: right;
}

.host {
  display: none;
}

.pass_container {
  position: fixed;
  display: none;
  width: 80vw;
  height: 45vh;
  left: 10vw;
  flex-direction: column;
}

.pass_header {
  width: auto;
  margin: auto;
  height: auto;
  padding: 10px;
  margin-bottom: 5px;
}

.pass_header p {
  width: 100%;
}

.pass_container_body {
  height: 90%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.pass_card {
  height: 100%;
  width: 100px;
  margin-right: 2vw;
  box-shadow: 0 0 20px #ccc;
  border-radius: 15px;
}

.pass_options {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pass_options div {
  height: 30%;
  width: 100%;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  margin: 5px;
}

.pass_options p {
  align-self: center;
  text-align: center;
}

.button_enabled {
  border: 1px solid #999;
  box-shadow: 0 0 15px #999;
}

.button_disabled {
  border: 1px solid #ddd;
  box-shadow: 0 0 5px #ccc;
}

.green {
  border: 1px solid #81d494;
  box-shadow: 0 0 10px #81d494
}

.moon_container {
  width: 50vw;
  height: auto;
  box-shadow: 0 0 5px #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 25vh;
}

.moon_container h2 {
  width: 100%;
}

.moon_option {
  display: flex;
  width: 45%;
  height: auto;
  padding: 10px;
  border: 1px solid #999;
  box-shadow: 0 0 10px #999;
  align-content: center;
  margin-left: 15px;
}

.endgame {
  position: fixed;
  z-index: 10;
  width: 50vw;
  height: 80vh;
  top: 10vh;
  left: 25vw;
  border: 1px solid #ccc;
  drop-shadow: 0 0 15px #ccc;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  display: none;

}

.endgame h1 {
  width: 100%;
  text-align: center;
}

.endgame ul {
  width: 100%;
  margin: auto;
  list-style-type: none;
  padding-left: 0;
  font-size: 1.8em;
}

.endgame ul li {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.autoplay_container {
  height: 7vh;
  z-index: 20;
  width: auto;
  display: flex;
  margin-top: 10px;
  align-items: center;
  display: none;
}

.autoplay_box {
  width: 7vh;
  height: 7vh;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-shadow: 0 0 5px #ccc;
  margin-right: 1vw;
}

.autoplay-on {
  border: 1px solid #81d494;
  box-shadow: inset 0 0 5px #81d494;
}
