* {
  font-family: Courier New, sans-serif;
  margin: 0;
}

body {
  padding: 10px;
}

.game_log {
  height: 60vh;
  max-height: 60vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.player-name {
  font-weight: bold;
  position: fixed;
}
