* {
  font-family: Courier New, sans-serif;
  margin: 0;
}

body {
  padding: 10px;
}

.entry_form {
  width: 50vw;
  height: auto;
  box-shadow: 0 0 5px #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto;
  padding: 15px;
}

.entry_form h2 {
  width: 100%;
  margin-top: 10%;
}

.entry_form input {
  width: 75%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  line-height: 25px;
  font-size: 25px;
}

.submit {
  width: 200px;
  height: 80px;
  border: 1px solid #ccc;
  transition: all 0.2s;
}

.submit:hover {
  box-shadow: 0 0 5px #ccc;
  transform: translateY(-3px);
  border: 1px solid #7aadff;
}

.submit h2 {
  line-height: 40px;
  width: 100%;
  text-align: center;
}

#pid_text {
  display: none;
}

.turn {
  color: red;
  font-size: 2em;
  display: none;
}

.header {
  position: fixed;
  width: 100vw;
  height: 5vh;
}

.score {
  position: fixed;
  width: 20vw;
  height: auto;
  top: 0;
  right: 5vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.score ul {
  display: inline-block;
  list-style: none;
  width: auto;
  flex-grow: 1;
  margin-right: auto;
}

.score ul li {
  text-align: center;
}
